body.login {
	background: #428bca;
}
body.login div#login {
	color: red;
}
body.login div#login a {
	color: red;
}
body.login div#login a:hover {
	color: red;
}
body.login div#login h1 {
	color: red;
}
body.login div#login h1 a {
	color: red;
}
body.login div#login form#loginform {
	background-image: -webkit-gradient(linear, left 0, left 100%, from(#5bc0de), to(#31b0d5));
	background-image: -webkit-linear-gradient(top, #5bc0de, 0%, #31b0d5, 100%);
	background-image: -moz-linear-gradient(top, #5bc0de 0, #31b0d5 100%);
	background-image: linear-gradient(to bottom, #5bc0de 0, #31b0d5 100%);
	background-repeat: repeat-x;
	border-color: #2aabd2;
	border: 1px solid #357ebd;
	color: #fff;
	background: #428bca;
}